* {
    background-color: gray;
}

html, body {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color:brown;
}

.pageMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 16px;
}

.display {
    background-color: white;
    height: 100px;
    width: 300px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttons {
    display: flex;
    background-color: gray;
    width: 300px;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 225px;
}

.operators {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75px;
}

.calculator button {
    background-color: white;
    width: 75px;
    height: 75px;
}