* {
    background-color: gray;
}

html, body {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color:brown;
}

.pageMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    border: 2px solid black;
    padding: 16px;
    border-radius: 16px;
}

.display {
    background-color: white;
    height: 100px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 16px;
    border-radius: 16px;
}

.buttons {
    display: flex;
    background-color: gray;
}

.numbersBox {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.operatorsBox {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

button {
    border-radius: 16px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

#zero, #back {
    width: 200px;
    height: 100px;
}

#equal {
    background-color: orange;
}

#clear, #back {
    background-color: red;
}

.dot {
    background-color: skyblue;
}

.operator {
    background-color: orangered;
}