* {
    background-color: gray;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: rgb(36, 36, 36);
}

h1 {
    text-align: center;
    padding: 16px;
    color: goldenrod;
    background-color: rgb(36, 36, 36);
    border-radius: 16px;
    font-weight: bold;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: goldenrod;
    background-color: rgb(36, 36, 36);
    border-radius: 16px 16px 0;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
}

a:hover {
    border: 2px solid goldenrod;
    padding: 6px;
}

.pageMiddle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border-radius: 30px;
    margin: 0 180px;
    border: 3px solid black;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    border: 3px solid black;
    padding: 16px;
    border-radius: 16px;
}

.display {
    background-color: white;
    border: 2px solid black;
    height: 100px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 16px;
    border-radius: 16px;
}

.buttons {
    display: flex;
}

.numbersBox {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: rgb(36, 36, 36);
}

.operatorsBox {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    background-color: rgb(36, 36, 36);
}

button {
    border-radius: 16px;
    width: 100px;
    height: 85px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    background-color: gray;
}

button:hover {
    border: 1px solid gold;
}

#zero {
    width: 200px;
}

#back {
    width: 200px;
}

#equal {
    background-color: orange;
}

#clear, #back {
    background-color: brown;
}

.dot {
    background-color: skyblue;
}

.operator {
    background-color: orangered;
}